# Line of hash signs
snippet #
	################################################################################

# Section header
snippet ##
	################################################################################
	# ${1}
	################################################################################
	${2}
