snippet tbl
	\begin{table}[H]
		\centering
		\caption{${1}}

		\begin{tabular}{|c|${2}}
			\hline
			${3}
		\end{tabular}
	\end{table}

snippet lbt
	\begin{table}[H]
		\centering
		\caption{${1}}

		\begin{tabular}{|c|c|c|}
			\hline
			Название столбца & Тип данных & Назначение \\ \hline
			${2}
		\end{tabular}
	\end{table}
